APMonitor==0.31
certifi==2018.1.18
chardet==3.0.4
click==6.7
cycler==0.10.0
dash==0.19.0
dash-core-components==0.17.1
dash-html-components==0.8.0
dash-renderer==0.11.2
decorator==4.2.1
Flask==0.12.2
Flask-Compress==1.4.0
gekko==0.0.1rc1
idna==2.6
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
jupyter-core==4.4.0
MarkupSafe==1.0
matplotlib==2.1.1
nbformat==4.4.0
numpy==1.14.0
plotly==2.2.3
pyparsing==2.2.0
pyserial==3.4
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
scipy==1.0.0
six==1.11.0
traitlets==4.3.2
urllib3==1.22
Werkzeug==0.14.1
